@font-face {
  font-family: Caveat; 
  src: url(Caveat-VariableFont_wght.ttf); 
}

@font-face {
  font-family: Raleway;
  src: url(Raleway.ttf); 
}

body {
  margin: 0;
  background-image: url(2.1.png);
  background-repeat: repeat-x repeat-y;
}

#head{
  width: 100%;
  height: 60px;
  position: fixed;
  background: #fff;
  z-index: 1000;
}


.item {
  height: 250px;
  background-color: rgb(238, 207, 207);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(43, 17, 46);
  font-family: 'Raleway';
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 18pt;
}

li a:hover {
  background-color: rgb(30, 13, 32);
}

.name{
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 18pt;
}

.cont{
  background: rgba(255, 255, 255, 0.80);
  margin: 2%;
  padding: 3%;
  color: rgb(30, 13, 32);
  font-family: 'Raleway';
  font-weight: 100;
}

.text{
  font-family: Raleway;
  font-weight: 100;
  font-size: 20pt;

}
.text2{
  font-family: Raleway;
  font-size: 14pt;
  font-weight: 100;
}

table {
  border-spacing: 0 10px;
}

th {
  padding: 10px 20px;
  border-right: 2px solid; 
  font-size: 0.9em;
}

th:first-child {
  text-align: left;
  }

th:last-child {
  border-right: none;
  }

td {
  vertical-align: middle;
  padding: 10px;
  text-align: center;

  }
  td:first-child {
  border-right: none;
  }
  td:nth-child(2){
  text-align: left;
  }

 .center {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }

 .card{
   height: 580px;
   width: 350px;
   background-color: rgb(184, 137, 137);
 }

 .accentText {
   font-size: 35pt;
   font-family: 'Caveat';
   font-weight: 900;
   margin-top:2%;
   margin-bottom: 2%;
   color: rgb(182, 34, 58);
 }
 
 p {
   display: block;
   margin:25px;
 }

 .cleanInput {
   border: 1px solid rgb(221, 204, 204);
   height: 30px;
   width: 200px;
   margin:10px;
   background-color: white;
   display: block;
 }

 
 footer{
  background-color: rgb(43, 17, 46);
 }

 .fot{
    
 }